@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap");
/* shared styles */
* {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #181818;
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.section-title {
  color: black;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 0 150px;
}
/* nav bar style */

span {
  color: #fd6e0a;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
nav > ul {
  display: flex;
  list-style: none;
  align-items: center;
}
nav li {
  margin-right: 50px;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}
nav a {
  text-decoration: none;
}
.btn-primary {
  background: #fd6e0a;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  padding: 10px 18px;
}
#btn-nav {
  padding: 18px 35px;
}
/* header related style */
header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  display: flex;
  padding: 30px 30px 0 150px;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 500px;
}
.banner .profile-pic {
  width: 580px;
}
.banner-greeting {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0;
}
.banner-title {
  color: #181818;
  font-size: 50px;
  font-weight: 700;
  margin-top: 5px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
}
/* main section style */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}
/* about section style */
.about {
  border-radius: 10px;
  background: #fff8f3;
  padding: 130px 0;
}
.about-info-container {
  display: flex;
  padding: 0 100px;
}
.about-info {
  text-align: center;
  padding: 0 50px;
}
.info-title {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}
.info-description {
  color: #181818;
  text-align: center;
  font-size: 14x;
  font-weight: 600;
  margin-top: 5px;
}

/* what I do section style */
#what-i-do-description {
  padding: 30px 150px;
}
.skill-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-title {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
}
.skill-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
/* Resume section style */
.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-container {
  display: flex;
  justify-content: space-around;
  gap: 100px;
  margin-top: 110px;
}
.title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0;
}
.sub-title {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0;
}
.description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.btn-summary {
  margin-top: 50px;
  margin-bottom: 110px;
  text-align: center;
}
/* footer style */
footer {
  display: flex;
  gap: 100px;
  background: #fff8f3;
  margin-top: 100px;
  padding: 130px 200px;
}
.footer-column {
  width: 50%;
}
#footer-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.social-links a{
  margin-right: 25px;
}
.contact input, textarea{
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #757575;
  border-radius: 10px;
  background: white;
  border: 0;
  width: 100%;
}
#submit-btn{
  color: white;
  background: #fd6e0a;
  width: auto;
}
